body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.input-field label {
	pointer-events: none;
}


/*è arancione, prima era turchese brutto*/
.datepicker-date-display{
    background-color: #d84315;
}

.timepicker-digital-display{
    background-color: #d84315;
}

.timepicker-canvas-bg{
    fill: #f44f1d;
    stroke: #f44f1d;
}

.timepicker-canvas-bearing{
    fill: #f44f1d;
    stroke: #f44f1d;
}

.timepicker-canvas line {
    stroke: #f44f1d;
   
}

.timepicker-tick.active, .timepicker-tick:hover {
    background-color: #d8421580;
}

.datepicker-table td.is-today {
    color: #d84315;
}

.datepicker-table td.is-selected {
    background-color:#d84315;
   }

.datepicker-day-button:focus {
    background-color: #d8421580;
}


.timepicker-close, .datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #d84315;
}

/*colore menu profilo*/
.dropdown-content li > a, .dropdown-content li > span {
    color: black;
}

/*colore focus input*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom:1px solid #9c2400;
    -webkit-box-shadow:0 1px 0 0 #9c2400;
    box-shadow:0 1px 0 0 #9c2400;
}
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
 color:#9c2400;
}

select:focus {
    border:1px solid #9c2400;
    -webkit-box-shadow:0 1px 0 0 #9c2400;
    box-shadow:0 1px 0 0 #9c2400;
}

select:focus+label {
    border:1px solid #9c2400;
    -webkit-box-shadow:0 1px 0 0 #9c2400;
    box-shadow:0 1px 0 0 #9c2400;
}


.input-field .prefix.active{
    color:#9c2400;
}

/*selettore del range della durata, lo slider*/

input[type=range]+.thumb {
    background-color:#d84315;
}
input[type=range]+.thumb .value {
    display:block;
    width: 100px;
    height: 10px;
    text-align:center;
    color:#d84315;
    font-size:0;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
}
input[type=range]+.thumb.active {
    background-color: #d84315;
    border-radius:50% 50% 50% 0
}
input[type=range]+.thumb.active .value {
    color: #9c2400;
    font-size: 15px
}


input[type=range]::-moz-range-thumb {
    background:#d84315;
}


input[type=range]::-ms-thumb {
    background:#d84315;
}
input[type=range]::-webkit-slider-thumb {
    background:#d84315;
    background-color:#d84315;
}
   

.month-prev:active,
.month-next:active{
    background:#d8421580;
}






