main {
    width: 100%;
    min-width: 100%;
}

.sfondo_bg {
    position: relative;
    width: 100%;
}

.testo_foto {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #e23a07;
    font-size: 92px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;
}



