.form-group-bordered {
    background-color: white;
    padding: 10px 20px;
    border: 2px solid #617D8B;
    border-radius: 5px;
    margin-top: 20px;
    min-height: auto;
}   

.form-group {
    margin-bottom: 15px;
}


.col-xs-12 {
    width: 100%;
    position: relative;
}


.waves-effect.waves-orange .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgba(216, 67, 21, 0.65);
   }

