{% set active_page = 'corsi.index' %}
{%- extends 'base.html' -%}

{%- block head_base -%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/corsi.css') }}">
{%- endblock -%}

{%- block body_base -%}

<div class="row">
    <div class="col s8 offset-s2">

        <h2>Corsi</h2>
        {%- if authenticated -%}
        <h3>I tuoi corsi</h3>
            <!--messaggi di errore o successo-->
			{%- if success -%}
			<div id="close_div_msg" class="bar success">
				<div class="close" id="close_div_msg">X</div>
				<i class="ico">&#10004;</i> SUCCESSO: {{ msg_error }}
			</div>
			{%- endif -%}

			{%- if error -%}
			<div id="close_div_msg" class="bar error">
				
				<div class="close" id="close_div_msg">X</div>
				<i class="ico">&#9747;</i> 
				<span >ERRORE: {{ msg_error }}</span>
			</div>
			{%- endif -%}
            <!--fine messaggi errore/successo-->

            {%- if i_tuoi_corsi -%}
            <ul class="collapsible expandable popout">
                <!--visualizza la lista dei corsi-->
                {% for corso in i_tuoi_corsi %}
                    {% include 'corso_elem.html' %}
                {% endfor %}
            </ul>
            {%- else -%}
                <!--nessun corso disponibile-->
                {%- if is_docente -%}
                <div  class="bar warn">
                    <span class="material-icons ico">warning</span> 
                    Non hai ancora creato un coro
                </div>
                {%- else -%}
                <div  class="bar warn">
                    <span class="material-icons ico">warning</span> 
                    Non ti sei ancora iscritto a nessun corso
                </div>
                {%- endif -%}

            {%- endif -%}
        {%- endif -%}

        
        {%- if is_docente -%}
        <div>
            <button id="button_crea_corso" class="waves-effect waves-light btn deep-orange darken-3" onclick="button_crea_corso_click()" style="display: block;">
                Crea nuovo corso
            </button>
            
            <button id="button_annulla_crea_corso" class="waves-effect waves-light btn deep-orange darken-3" onclick="button_annulla_crea_corso_click()" style="display: none;">
                Annulla
            </button>

            <ul id="nuovo_corso_collapsible" class="collapsible expandable popout" style="display: none;">
                
                <li class="active">
                    <div class="collapsible-header" style="display: block;">
                        Nuovo corso
                        <div class="right">
                            <i class="material-icons">expand_more</i>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div class="row" style="margin-bottom: 0px;">
                            <div class="col s11 offset-s1">                
                                <div class="row">
                                    {%- set class_name = 'Corsi' -%}
                                    <form id="nuovo_corso_insert" class="col s12" action="/corso_insert" method="POST">
                                        
                                        {%- for element in attrList.values() -%}
                                        {%- if element.insertable -%}
                                        <div class="row">
                                            {%- if element.isMultiChoice or element.isTimedelta -%}
                                            <div class="col s0" style="padding-top: 25px; padding-right: 0px;">
                                                <!--icone-->
                                                <i class="small material-icons">
                                                    {%- if element.isTimedelta -%}   access_time
                                                    {%- elif element.isMultiChoice -%} arrow_drop_down
                                                    {%- endif %} 

                                                </i>
                                            </div>
                                            <div class="input-field col s9">
                                            {%- else -%}
                                            <div class="input-field col s10">
                                                <!--icone-->
                                               	<i class="small material-icons prefix">
                                                    {%- if element.isDatetime -%}      calendar_month
                                                    {%- elif element.isTimedelta -%}   access_time
                                                    {%- elif element.isNumeric -%}	   123 
                                                    
                                                    {%- elif element.isMultiChoice -%} arrow_drop_down
                                                    {%- else -%}                       text_fields
		                                            {%- endif %} 
                                                </i>
                                            {%- endif -%}
                                                <!--ho dovuto fare così per poter mettere il design carino anche su questi timedelta!-->
                                                {%- if element.name == 'inizioiscrizioni' or  element.name == 'scadenzaiscrizioni' -%}  
                                                    <input 
                                                    id="{{ element.name }}ins_id"
                                                    name="{{ class_name }}.{{ element.name }}"
                                                    type="text" 
                                                    class = "{{ element.name }}ins validate"
			                                        {% if not element.optional and not old_obj_values %} required=True {% endif %}
                                                    
                                                    autocomplete="off">
                                                    
                                                    <label {%- if element.isDatetime %} class="active" {%- endif %} for={{ element.name }}>{{ element.displayName }}</label>

                                                {%- else -%}
                                                    {%- include "form_element.html" -%}
                                                {%- endif -%}
                                            </div>
                                        </div>
                                        {%- endif -%}
                                        {%- endfor -%}


                                        <button type="submit" class="waves-effect waves-light btn deep-orange darken-3" onclick="">
                                            Conferma <i class="material-icons right">check</i>
                                        </button>
                                        <a class="waves-effect waves-light btn deep-orange darken-3" onclick="resetForm()">Reset Form</a>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                

            </ul>
        </div>


        {%- endif -%}



        {%- if is_docente -%}
        <h3>Altri corsi</h3>
        {%- else -%}
        <h3>Corsi disponibili</h3>
        {%- endif -%}
        
        {%- if corsi_disponibili -%}
        <!--visualizza altri corsi disponibili, se è un docente allora mostra i corsi degli altri professori, altrimenti se si tratta
        di uno studente mostra i corsi al quale non si è ancora iscritto-->
        <ul class="collapsible expandable popout">
            {% for corso in corsi_disponibili %}
                {% include 'corso_elem.html' %}
            {% endfor %}
        </ul>
        {%- else -%}
        <!--warning in caso non ce ne siano-->
        <div  class="bar warn">
            <span class="material-icons ico">warning</span> 
            Nessun corso disponibile al momento ☹
        </div>
        {%- endif -%}


    </div>
</div>

{%- endblock -%}


{%- block base_javascript -%}
<script src="{{ url_for('static',filename='javascript/corsi.js') }}"></script>
<script src="{{ url_for('static',filename='javascript/corso_elem.js') }}"></script>

<script src="{{ url_for('static',filename='javascript/materializedatetimepicker.js') }}"></script>

{%- endblock -%}