<li>
    <div class="collapsible-header" style="display: block;">
        {{ corso.titolo }}
        <div class="right">
            <i class="material-icons">expand_more</i>
        </div>
    </div>
    <div class="collapsible-body">
        <div class="row" style="margin-bottom: 0px;">
            <div class="col s11 offset-s1">
                <div class="row">
					{%- set num_iscritti = corso.iscritti|length -%}
                    <div><div class="col s2"><b>Descrizione:</b></div><div class="col s10">{{ corso.descrizione }}</div></div>
                    <div><div class="col s4"><b>Categoria:</b></div><div class="col s8">{{ corso.categoria }}</div></div>
                    <div><div class="col s4"><b>Durata corso:</b></div><div class="col s8">{{ corso.durata }}</div></div>
                    <div><div class="col s4"><b>Periodo:</b></div><div class="col s8">{{ corso.periodo }}</div></div>
                    <div><div class="col s4"><b>Modalità:</b></div><div class="col s8">{{ corso.modalità }}</div></div>
                    <div><div class="col s4"><b>Dipartimento:</b></div><div class="col s8">{{ corso.iddipartimento }}</div></div>
                    <div><div class="col s4"><b>Apertura iscrizioni:</b></div><div class="col s8">{{ corso.inizioiscrizioni|datetime_format_openIscrizioni }}</div></div>
                    <div><div class="col s4"><b>Chiusura iscrizioni:</b></div><div class="col s8">{{ corso.scadenzaiscrizioni|datetime_format_closeIscrizioni }}</div></div>
                    <div><div class="col s4"><b>Iscrizioni minime:</b></div><div class="col s8">{{ corso.iscrizioniminime }}</div></div>
                    <div><div class="col s4"><b>Studenti iscritti:</b></div><div class="col s8">{{ num_iscritti }}/{{ corso.iscrizionimassime }}</div></div>
                </div>

                <div class="row" style="display: none;">
					{%- set class_name = 'Corsi' -%}
                    <form id="{{ corso.id }}" class="col s12" action="/update" method="POST">
						<div class="row", style="display: none;">
                            <div class="input-field col s8">
                                <input name='{{ class_name }}.pk' value='{{ corso.id }}'>
                            </div>
                        </div>
                        {%- for element in attrList.values() -%}
                        {%- if element.insertable -%}
                        <div class="row">
                            <div class="input-field col s8">
                                {%- include "form_element.html" -%}
                            </div>
                        </div>
                        {%- endif -%}
                        {%- endfor -%}

                    </form>
                </div>




                {%- if authenticated -%}
                    {%- if is_docente -%}
                        {%- if corso in i_tuoi_corsi -%}
                            <div class="left" style="display: block;">
                                <form onsubmit="return confirmDelete('{{ corso.titolo  }}')" action="/elimina_corso" method="POST">
                                    <input name="idcorsoDel" type="number" style="display:none" value="{{ corso.id }}">
                                    <button type="submit"  style="background: transparent; border: none; font-size:0; cursor: pointer">
                                        <i  class='fa fa-trash' style="color: black; padding-left: 5px; font-size: 30px;"></i>  
                                    </button>
                                </form>   
                            </div>
                            <div>
                              
                               
                                <div class="right" style="display: block;">

                                    <button class="waves-effect waves-light btn deep-orange darken-3" onclick="hideOrShowFormModificaCorso(event)">
                                        Modifica
                                    </button>
                                    
                                       
                                        
                                </div>
                              
                                <div class="right" style="display: none;">
                                    <button class="waves-effect waves-light btn deep-orange darken-3" onclick="hideOrShowFormModificaCorso(event)">
                                        Annulla
                                    </button>
                                    <button type="submit" form="{{ corso.id }}" class="waves-effect waves-light btn deep-orange darken-3" onclick="hideOrShowFormModificaCorso(event)">
                                        Salva modifiche
                                    </button>
                                </div>
                                
                            </div>
                        {%- endif -%}
                    {%- else -%}
                        {%- if corso in i_tuoi_corsi -%}
                        <form action="/disiscrizione_corso" method="POST">
                            <input name="idcorso" type="number" style="display:none" value="{{ corso.id }}">
                            <button class="waves-effect waves-light btn deep-orange darken-3 right" type="submit">
                                Disiscriviti
                            </button>
                        </form>
                        {%- else -%}
                        <form action="/iscrizione_corso" method="POST">
                            <input name="idcorso" type="number" style="display:none" value="{{ corso.id }}">
                            <button class="waves-effect waves-light btn deep-orange darken-3 right" type="submit">
                                Iscriviti
                            </button>
                        </form>
                        {%- endif -%}
                    {%- endif -%}
                {%- endif -%}

            </div>
        </div>
    </div>
</li>
