<li>
    <div class="collapsible-header" style="display: block;">
        {{ corso.titolo }}
    
        <div class="right">
            <i class="material-icons">expand_more</i>
        </div>
    </div>
    <div class="collapsible-body">
        <div class="row" style="margin-bottom: 0px;">
            <div class="col s11 offset-s1">
                <div class="row">
					{%- set num_iscritti = corso.iscritti|length -%}
                    <div><div class="col s2"><b>Descrizione:</b></div><div class="col s10">{{ corso.descrizione }}</div></div>
                    <div><div class="col s4"><b>Categoria:</b></div><div class="col s8">{{ corso.categoria }}</div></div>
                    <div><div class="col s4"><b>Durata corso:</b></div><div class="col s8">{{ corso.durata }} ore</div></div>
                    <div><div class="col s4"><b>Periodo:</b></div><div class="col s8">{{ corso.periodo }}</div></div>
                    <div><div class="col s4"><b>Modalita:</b></div><div class="col s8">{{ corso.modalita|prova }}</div></div>
                    <div><div class="col s4"><b>Dipartimento:</b></div><div class="col s8">{{ corso.iddipartimento }}</div></div>
                    <div><div class="col s4"><b>Apertura iscrizioni:</b></div><div class="col s8">{{ corso.inizioiscrizioni|datetime_format_openIscrizioni }}</div></div>
                    <div><div class="col s4"><b>Chiusura iscrizioni:</b></div><div class="col s8">{{ corso.scadenzaiscrizioni|datetime_format_closeIscrizioni }}</div></div>
                    <div><div class="col s4"><b>Iscrizioni minime:</b></div><div class="col s8">{{ corso.iscrizioniminime }}</div></div>
                    <div><div class="col s4"><b>Studenti iscritti:</b></div><div class="col s8">{{ num_iscritti }}/{{ corso.iscrizionimassime }}</div></div>
                </div>

                <div class="row" id="boh" style="display: none;">
					{%- set class_name = 'Corsi' -%}
                    <form id="{{ corso.id }}" class="col s12" action="/corso_update" method="POST">
						<div class="row", style="display: none;">
                            <div class="input-field col s8">
                                <input name='{{ class_name }}.pk' value='{{ corso.id }}'>
                            </div>
                        </div>
                        {%- set old_obj_values = corso -%}
                        {%- for element in attrList.values() -%}
                        {%- if element.insertable -%}
                        <div class="row">
                            {%- if element.isMultiChoice or element.isTimedelta -%}
                            <div class="col s0" style="padding-top: 25px; padding-right: 0px;">
                                 <!--icone-->
                                 <i class="small material-icons">
                                    {%- if element.isTimedelta -%}   access_time
                                    {%- elif element.isMultiChoice -%} arrow_drop_down
                                    {%- endif %} 

                                 </i>
                            </div>
                            <div class="input-field col s9">
                            {%- else -%}

                            <div class="input-field col s10">
                            

                            <!--icone-->
                               <i class="small material-icons prefix">
                                {%- if element.isDatetime -%}      calendar_month
                                {%- elif element.isTimedelta -%}   access_time
                                {%- elif element.isMultiChoice -%} arrow_drop_down
                                {%- else -%}                       text_fields
                                {%- endif %} 
                            </i>
                            {%- endif -%}
                                {%- include "form_element.html" -%}
                                
                            </div>
                        </div>
                        {%- endif -%}
                        {%- endfor -%}

                    </form>
                </div>




                {%- if authenticated -%}
                    {%- if is_docente -%}
                        {%- if corso in i_tuoi_corsi -%}
                            <div class="left" style="display: block;">
                                <form onsubmit="return confirmDelete('{{ corso.titolo  }}')" action="/corso_delete" method="POST">
                                    <input name="Corsi.pk" type="number" style="display:none" value="{{ corso.id }}">
                                    <button type="submit" class="btn-floating  waves-effect waves-light deep-orange darken-3" style="background: transparent; border: none; font-size:0; cursor: pointer">
                                        <i  class='fa fa-trash' style="color: white; ; font-size: 25px;"></i>  
                                    </button>
                                </form>   
                            </div>
                           
                            <div>
                             
                                <div class="right" style="display: block;">
                                    
                                    <button class="waves-effect waves-light btn deep-orange darken-3" onclick="hideOrShowFormModificaCorso(event, `{{ corso.id }}`)">
                                        Modifica <i class="material-icons right">create</i>
                                    </button>
                                    
                                        
                                </div>
                              
                                <div class="right" style="display: none;">
                                    <button class="waves-effect waves-light btn deep-orange darken-3" onclick="hideOrShowFormModificaCorso(event)">
                                        Annulla
                                    </button>
                                    <button type="submit" form="{{ corso.id }}" class="waves-effect waves-light btn deep-orange darken-3" onclick="hideOrShowFormModificaCorso(event)">
                                        Salva modifiche <i class="material-icons right">create</i>
                                    </button>
                                </div>
                                
                                 <div class="right" style="display: block; padding-right: 10px;">
                                <form action="/statistiche" method="POST">
                                    <input name="idcorso" type="number" style="display:none" value="{{ corso.id }}">
                                    <button class="waves-effect waves-light btn deep-orange darken-3">
                                        Statistiche <i class="material-icons right">
                                            insights
                                        </i>
                                    </button>
                                </form>  
                                </div>
                            </div>
                        {%- endif -%}
                    {%- else -%}
                        {%- if corso in i_tuoi_corsi -%}
                        <form action="/disiscrizione_corso" method="POST">
                            <input name="idcorso" type="number" style="display:none" value="{{ corso.id }}">
                            <button class="waves-effect waves-light btn deep-orange darken-3 right" type="submit">
                                Disiscriviti
                            </button>
                        </form>
                        {%- else -%}
                        <!--controllo che la data di scadenza non sia stata superata-->
                        {%- if corso.scadenzaiscrizioni|is_datetime_ok -%}  
                            <!--controllo che le iscrizioni siano aperte-->
                            {%- if corso.inizioiscrizioni|is_not_datetatime_open -%}
                            <!--se non lo sono, evito che ci si possa iscrivere-->
                            <div  class="bar warn right" style="cursor: help">
                                <i class="ico">&#9888;</i> 
                                Iscrizioni chiuse, aprono il {{ corso.inizioiscrizioni|extract_date }}
                            </div>
                            {%- else -%}

                            <form action="/iscrizione_corso" method="POST">
                                <input name="idcorso" type="number" style="display:none" value="{{ corso.id }}">
                                <button class="waves-effect waves-light btn deep-orange darken-3 right" type="submit">
                                    Iscriviti
                                </button>
                            </form>
                            {%- endif -%}
                        {%- else -%}
                        <!--iscrizioni chiuse-->
                            <div  class="bar error right" style="cursor: help">
                                <i class="ico">&#9888;</i> 
                                Iscrizioni chiuse 
                            </div>
                        {%- endif -%}

                        {%- endif -%}
                    {%- endif -%}
                {%- endif -%}

            </div>
        </div>
    </div>
</li>


