{% set active_page = 'corsi.index' %}
{%- extends 'base.html' -%}

{%- block head_base -%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/corsi.css') }}">
{%- endblock -%}





{%- block body_base -%}

<div class="row">
    <div class="col s8 offset-s2">

        <h2>Corsi</h2>

        {%- if authenticated -%}
        <h3>I tuoi corsi</h3>
            {%- if i_tuoi_corsi -%}
            <ul class="collapsible expandable popout">
                {% for corso in i_tuoi_corsi %}
                    {% include 'corso_elem.html' %}
                {% endfor %}
            </ul>
            {%- else -%}
            Non ti sei ancora iscritto ad alcun corso.
            {%- endif -%}
        {%- endif -%}

        
        {%- if is_docente -%}
        <button class="waves-effect waves-light btn deep-orange darken-3">
            Crea nuovo corso
        </button>
        {%- endif -%}



        {%- if is_docente -%}
        <h3>Altri corsi</h3>
        {%- else -%}
        <h3>Corsi disponibili</h3>
        {%- endif -%}
        
        {%- if corsi_disponibili -%}
        <ul class="collapsible expandable popout">
            {% for corso in corsi_disponibili %}
                {% include 'corso_elem.html' %}
            {% endfor %}
        </ul>
        {%- else -%}
        Nessun corso disponibile al momento. ☹
        {%- endif -%}


    </div>
</div>

{%- endblock -%}




{%- block base_javascript -%}
<script src="{{ url_for('static',filename='javascript/corsi.js') }}"></script>
<script src="{{ url_for('static',filename='javascript/corso_elem.js') }}"></script>
{%- endblock -%}