{%- if element.isMultiChoice -%}
	<div>
	<label>{{ element.displayName }}</label>
	</div>

	<!--NON TOGLIERE class="browser-default" altrimenti succedono cose brutte
	e le select smettono di fare il loro dovere! ho bestemmiato parecchio-->
	<select id="{{ element.name }}" class="browser-default" name={{ class_name }}.{{ element.name }} autocomplete="off">
	
		
		<option value="" disabled selected>{{ element.displayName }}</option>

		<!--per le lezioni online che non si svolgono in un'aula
			se si seleziona questa opzione la chiave esterna dell'idaula
			sarà null di default, vedi views.py: defaultValue = None-->
		{%- if element.displayName == "aula" -%}
		<!--non togliere l'id, serve per disabilitare l'invio dei
			dati quando viene selezionata questa opzione-->
			<option id="aulavirtuale"  value="virtual">aula virtuale</option>
		{%- endif -%}
	
		{%- for pk, displayName in element.options.items() -%}
		
			<!--nel menu a tendina quando viene inserita una nuova lezione
			vengono mostrate solo le opzioni relative ai corsi del prof
			che sta aggiungendo le lezioni-->
			{%- if element.displayName == "corso" -%}
				{%- for lez_corsi in i_tuoi_corsi_lez -%}
					{%- if lez_corsi.titolo == displayName -%}
						<!--l'id assicura il controllo della coerenza dei dati tra modalità corso e lezioni-->
						<option id="{{ lez_corsi.modalita }}" value="{{ pk }}" {% if old_obj_values and old_obj_values[element.name] == pk -%}selected="selected"{%- endif -%}>{{ displayName }}</option>
					{%- endif -%}

				{%- endfor -%}
			{%- else -%}
				<option value="{{ pk }}" {% if old_obj_values and old_obj_values[element.name] == pk -%}selected="selected"{%- endif -%}>{{ displayName }}</option>
			{%- endif -%}

		{%- endfor -%}
	</select>
	

{%- else -%}
	


	{%- if class_name == "Corsi" and element.name == "durata" -%}
		<p class="range-field">
			<input 
				id=	{{ element.name }} 
		
				name="{{ class_name }}.{{ element.name }}"
				type = "range" 
				class = "validate"
				min="0" max="500" 
				onchange="$('~ output', this).val(value)" 
				oninput="$('~ output', this).val(value)"

				{% if not element.optional and not old_obj_values %} required=True {% endif %}
					{% if old_obj_values -%}
						value="{{ old_obj_values[element.name] }}"
					{%- else -%}
						value = "0"
					{%- endif -%}
				autocomplete="off"
			/>
						
			durate selezionata: 
			<output>{% if old_obj_values -%}{{ old_obj_values[element.name] }}
					{%- else -%} 0  
					{%- endif -%}
			</output> ore
		</p>
	{%- else -%}

		<input 
			id=	{{ element.name }} 
			
			name="{{ class_name }}.{{ element.name }}"
			type=
			{%- if element.secret -%}			"password"
			{%- elif element.isDate -%}			"text"
			{%- elif element.isDatetime -%}		"text"
			{%- elif element.isTimedelta -%}	"text"
			{%- else -%}						"text"
			{%- endif %} 

			class = 
			{%- if element.isDatetime and class_name == "Lezioni"  -%} 	"datetimecool validate" 
			{%- elif old_obj_values and element.isDatetime and
				(element.name == 'inizioiscrizioni' or 
				element.name == 'scadenzaiscrizioni') -%} "{{ element.name }}{{ old_obj_values.id }} validate"

			{%- elif element.isTimedelta -%} 	"timepicker validate"
			{%- elif element.isDate -%}			"datepicker validate"
			{%- elif element.secret and old_obj_values -%} "validate tooltipped"
			{%- else -%} 						"validate"
			{%- endif %}
			
			
			{% if not element.optional and not old_obj_values %} required=True {% endif %}
			{% if old_obj_values -%}
				{%- if element.isDatetime -%}
					{%- set date = old_obj_values[element.name] -%}
					value="{{ date.strftime('%Y/%m/%d %H:%M') }}"
				{%- elif element.isDate -%}
					{%- set date = old_obj_values[element.name] -%}
					value="{{ date.strftime('%Y/%m/%d') }}"
				{%- elif element.isTimedelta -%}
					{%- set date = old_obj_values[element.name] -%}
					value="{{ (date|string())[0:5] }}"
				{%- elif element.secret -%}
					value=""
					data-position="left" data-tooltip="inserisci password vecchia o nuova!"

				{%- else -%}
					value="{{ old_obj_values[element.name] }}"
				{%- endif -%}
			{%- endif -%}

			autocomplete="off"
		>


	{%- endif -%}
	
    

 
	<label {%- if element.isDatetime %} class="active" {%- endif %} for={{ element.name }}>{{ element.displayName }}</label>
	{%- if input_error -%}
		{%- if element.name == input_error.elementName -%}
		<span class="helper-text" data-error="wrong" data-success="right">{{ input_error.message }}</span>
		{%- endif -%}
	{%- endif -%}
	

{%- endif -%}
