{%- if element.isMultiChoice -%}
	<select name={{ class_name }}.{{ element.name }}>
		<option value="" disabled selected>{{ element.displayName }}</option>
		{%- for pk, displayName in element.options.items() -%}
			<option value="{{ pk }}" {% if corso and corso[element.name] == pk -%}selected="selected"{%- endif -%}>{{ displayName }}</option>
		{%- endfor -%}
	</select>
	<label>{{ displayName }}</label>
{%- else -%}
	<input 
		id={{ element.name }} 
		name="{{ class_name }}.{{ element.name }}"
		type=
		{%- if element.secret -%}			"password"
		{%- elif element.isDate -%}			"date"
		{%- elif element.isDatetime -%}		"datetime-local"
		{%- elif element.isTimedelta -%}	"time"
		{%- else -%}						"text"
		{%- endif %} 
		class="validate"
		{% if not element.optional and not corso %} required=True {% endif %}
		{% if corso -%}
			{%- if element.isDatetime -%}
				{%- set date = corso[element.name] -%}
				value="{{ date.year }}-{{ date.month }}-{{ date.day }}T{{ date.hour }}:{{ date.minute }}"
			{%- elif element.time -%}
			{%- else -%}
				value="{{ corso [element.name] }}"
			{%- endif -%}
		{%- endif -%}
	>
	<label {%- if element.isDatetime %} class="active" {%- endif %} for={{ element.name }}>{{ element.displayName }}</label>
	{%- if input_error -%}
		{%- if element.name == input_error.elementName -%}
		<span class="helper-text" data-error="wrong" data-success="right">{{ input_error.message }}</span>
		{%- endif -%}
	{%- endif -%}
{%- endif -%}