{% set active_page = 'home.index' %}
{%- extends 'base.html' -%}

{%- block head_base -%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
{%- endblock -%}

{%- block body_base -%}

<!--img class="sfondo_bg" src="{{ url_for('static',filename='styles/images/Home_bg.jpg') }}"-->

<div>
    
    <img class="sfondo_bg" src="{{ url_for('static',filename='styles/images/Home_bg.jpg') }}">
    <div class="testo_foto">
        <h2>Hi {{ name }}, your mum and your sister work in the traffic</h2>
    </div>
</div>

{%- endblock -%}

