<tr> 
    <td> {{ lezione[0].titolo }}</td>     
    {%- if lezione[1].idaula -%}
        
        <td>{{lezione[3].nome }} {{lezione[2].nome }} <br>
            {%- if lezione[1].modalita == 'D' -%}
                <a href="#!">link zoom</a>
            {%- endif -%}
        </td>
    {%- else -%}    
        <td> <a href="#!">link zoom</a></td>
    {%- endif -%}    
    
    <td>{{ lezione[1].inizio|extract_date }}</td>
    <td>{{ lezione[1].inizio|extract_time }}</td>


    <td>{{ lezione[1].durata|timedelta_format }}</td>
   
    <td>{{ lezione[1].modalita|prova }}</td>

    <td>
    {%- if is_docente -%}
        <form onsubmit="return confirmDelete('{{ lezione[0].titolo }}', '{{ lezione[1].inizio|datetime_format}}')" action="/elimina_lezione" method="POST">
            <input name="idlezione" type="number" style="display:none" value="{{ lezione[1].id }}">
            <button type="submit" class="btn-floating  waves-effect waves-light deep-orange darken-3" style="background: transparent; border: none; font-size:0; cursor: pointer">
                <i  class='fa fa-trash' style="color: white; ; font-size: 25px;"></i>  
            </button>
        </form>        
                            
    {%- else -%} 
        {%- if lezione[1].modalita != 'R' and lezione[1].inizio|is_datetime_ok -%}
            {% if lezione[1]|is_in_lezioni_prenotate(lezioni_prenotate) %}
            
                <form action="/cancella_prenotazione" method="POST">
                    <input name="idlezione" type="number" style="display:none" value="{{ lezione[1].id }}">
                    <button type="submit"  class="waves-effect waves-light btn" style="background-color: #ff884d; font-size: 12px;">cancella prenotazione</button>
                </form>
            {%- else -%}
                
                <form action="/iscrizione_lezione" method="POST">
                    <input name="idlezione" type="number" style="display:none" value="{{ lezione[1].id }}">
                    <button type="submit"  class="waves-effect waves-light btn deep-orange darken-3" style="font-size: 12px;">prenota</button>
                </form>  

            {%- endif -%}    
        {%- endif -%}    

    {%- endif -%}
    </td>
</tr>
                      