{% set active_page = 'lezioni.index' %}
{%- extends 'base.html' -%}

{%- block head_base -%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/corsi.css') }}">  

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/lezioni.css') }}">

{%- endblock -%}


{%- block body_base -%}

<div class="row">
    <div class="col s8 offset-s2">
       
        <h2>Lezioni</h2>
        <h4>Le tue lezioni</h4>
        {%- if is_docente -%}
        
        {%- if success -%}

        <div id="close_div_msg" class="bar success">
            <div class="close" id="close_div_msg">X</div>
            <span class="material-icons ico">check</span> SUCCESSO: {{ msg_error }}
        </div>

        {%- endif -%}


        {%- if error -%}

        <div id="close_div_msg" class="bar error">
            
            <div class="close" id="close_div_msg">X</div>
            <span class="material-icons ico">report</span> 
            <span >ERRORE: {{ msg_error }}</span>
        </div>

        {%- endif -%}
        <div>

            <ul class="collapsible expandable popout" >
                    <li>
                        <div class="collapsible-header" style="display: block;">
                            Inserisci nuova lezione
                            <div class="right">
                                <i class="material-icons">expand_more</i>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <div class="row" style="margin-bottom: 0px;">
                                <div class="col s11 offset-s1">                
                                    <div class="row">
                                        {%- set class_name = 'Lezioni' -%}
                                        <form id="nuova_lezione_insert"  class="col s12" action="/check_lesson" method="POST">
                                            
                                            {%- for element in attrLezioni.values() -%}
                                            {%- if element.insertable -%}
                                            <div class="row">
                                                {%- if element.isMultiChoice -%}
                                                <div class="col s0" style="padding-top: 25px; padding-right: 0px;">
                                                     <!--icone-->
                                                     <i class="small material-icons">arrow_drop_down</i>
                                                </div>
                                                <div class="input-field col s9">
                                                {%- else -%}
    
                                                <div class="input-field col s10">
                                              
                                                    <!--icone-->
                                                       <i class="small material-icons prefix">
                                                        {%- if element.isDatetime -%}      calendar_month
                                                        {%- elif element.isTimedelta -%}   access_time
                                                        {%- elif element.isMultiChoice -%} arrow_drop_down
                                                        {%- else -%}                       text-fields
                                                        {%- endif %} 
                                                    </i>
                                                    {%- endif -%}
                                                    {%- include "form_element.html" -%}
                                                </div>
                                            </div>
                                            {%- endif -%}
                                            {%- endfor -%}
    
    
                                            <button type="submit" fomr="nuova_lezione_insert" class="waves-effect waves-light btn deep-orange darken-3" onclick="">
                                                Conferma<i class="material-icons right">check</i>
                                            </button>
    
                                            <a class="waves-effect waves-light btn deep-orange darken-3" onclick="resetForm()">Reset Form</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    
    
                </ul>
            </div>
      




        {%- endif -%}
            <!--studente-->
            {%- if error_p -%}

            <div id="close_div_msg" class="bar error">
                <div class="close" id="close_div_msg">X</div>
                <span class="material-icons ico">report</span>
                <span>ERRORE: {{ msg_error }}</span>
            </div>

            {%- endif -%}
     
            {%- if lezioni -%}
            <!--visualizza solo le lezioni future-->
            
               
                <div class="form-group col-xs-12 form-group-border">
                
                    <table class="tabel table-custom">
                        <tbody style="  font-size: 14px;
                        line-height: 1.428571429;
                        color: #4b5159;">
                            <tr class="table-header">
                                
                                <th> CORSO</th>
                                <th>SEDE</th>
                                <th>DATA</th>
                                <th>ORA</th>
                                <th>DURATA</th>
                                <th>MODALITÀ</th>
                                <th></th>
                            </tr>

                            {% for lezione in lezioni %}
                            {%- if lezione[1].inizio|is_datetime_ok -%}
                                {% include 'lezione_elem.html' %}
                            {%- endif -%}

                            {% endfor %}
                            
                        </tbody>

                    </table>
                </div>
                {%- if lezioni_passate -%}
            
                <div style="padding-top: 30px;"></div>
                <h4>Lezioni passate</h4>
                <div class="form-group col-xs-12 form-group-border">
                
                    <table class="tabel table-custom">
                        <tbody style="  font-size: 14px;
                        line-height: 1.428571429;
                        color: #4b5159;">
                            <tr class="table-header">
                                <th> CORSO</th>
                                <th>SEDE</th>
                                <th>DATA</th>
                                <th>ORA</th>
                                <th>DURATA</th>
                                <th>MODALITÀ</th>
                                <th></th>
                            </tr>

                        {% for lezione in lezioni_passate %}
                            <!--visualizza solo le lezioni passate-->
                            {% include 'lezione_elem.html' %}
            
                        {% endfor %}
                            
                    </tbody>

                </table>
                </div>

                {%- endif -%}
           
            
            {%- else -%}       
                    
            <div class="col s11 offset-s1" >
                <div class="row" >
                    <b>Nessuna lezione disponibile ☹</a>
                </div>
            </div>
            {%- endif -%}

          

    </div>
</div>

{%- endblock -%}




{%- block base_javascript -%}
<script src="{{ url_for('static',filename='javascript/corsi.js') }}"></script>
<script src="{{ url_for('static',filename='javascript/lezioni.js') }}"></script>

<script src="{{ url_for('static',filename='javascript/materializedatetimepicker.js') }}"></script>


{%- endblock -%}


