{% set active_page = 'corsi.index' %}
{%- extends 'base.html' -%}

{%- block head_base -%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/corsi.css') }}">
{%- endblock -%}





{%- block body_base -%}


<div class="row">
    <div class="col s8 offset-s2">
        
        
        {%- if mostra_lezioni -%}
            <br><br>    
            
            {%- if lezioni -%}
                Torna <a href="/lezioni">indietro</a>
                <h3>Elenco delle lezioni di {{ titolo_corso }}</h3>
                <hr>
                {% for lezione in lezioni %}
              
                    <div class="col s11 offset-s1" >
                        <div class="row" >
                            
                            {%- if lezione[0].idaula -%}
                                <div><div class="col s4"><b>Edificio:</b></div><div class="col s8">{{lezione[2].nome }}</div></div>
                                <div><div class="col s4"><b>Aula:</b></div><div class="col s8">{{lezione[1].nome }}</div></div>
                            {%- endif -%}
                            
                            <div><div class="col s4"><b>Inizio:</b></div><div class="col s8">{{ lezione[0].inizio }}</div></div>
                            <div><div class="col s4"><b>Durata:</b></div><div class="col s8">{{ lezione[0].durata }}</div></div>
                            <div><div class="col s4"><b>Modalità:</b>  <br>
                                <hr></div><div class="col s8">{{ lezione[0].modalità }}  <br>
                                <hr></div></div>
                            
                        
                        </div>
                    </div>
                    
                {% endfor %}




            {%- else -%}       
                    
            <div class="col s11 offset-s1" >
                <div class="row" >
                    <b>Nessuna lezione disponibile,</b> torna <a href="/lezioni">indietro</a>
                </div>
            </div>
            {%- endif -%}

            {%- if is_docente -%}
            <div class="col s11 offset-s1" >
                <div class="left">
                    <form action="/aggiungi_lezione" method="POST">
                        <input name="idcorso" type="number" style="display:none" value="{{ id_corso }}">
                        <button class="waves-effect waves-light btn deep-orange darken-3 right" type="submit">
                            aggiungi lezione
                        </button>

                    </form>
                </div>
            </div>
            {%- endif -%}
        {%- else -%}    
           
            
            <h2>Lezioni</h2>
          
       
            {% for corso in i_tuoi_corsi %}
            <div class="col s11 offset-s1" >
               
                {{ corso.titolo }}
                <div class="right">
                    <form action="/mostra_lezioni" method="POST">
                        <input name="idcorso" type="number" style="display:none" value="{{ corso.id }}">
                        <input name="titolo" type="text" style="display:none" value="{{ corso.titolo }}">
                        <button class="waves-effect waves-light btn deep-orange darken-3 right" type="submit">
                            mostra lezioni
                        </button>

                    </form>
              
           
                </div>

                <hr>
            </div>

            {% endfor %}
        {%- endif -%}
                
                
 
    </div>
</div>

{%- endblock -%}




{%- block base_javascript -%}
<script src="{{ url_for('static',filename='javascript/corsi.js') }}"></script>
{%- endblock -%}