{% set active_page = 'login.index' %}
{%- extends 'base.html' -%}

{%- block head_base -%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
{%- endblock -%}


{%- block body_base -%}

<div class="row">
	<div class="col s8 offset-s2">
		<div class="card white">
			<div class=" card-content black-text">

				<div class="row">
					<div class="col s12">
						<ul class="tabs tabs-fixed-width deep-orange darken-3">
							<li class="tab col s3"><a class="active white-text" href="#login">Login</a></li>
							<li class="tab col s3"><a class="white-text" href="#registrati">Registrati</a></li>
						</ul>
					</div>

					<div id="login" class="col s12">

						<div>
							<div class="row">
								<form class="col s12" action='/login' method='POST'>
									<div class="row">
										<div class="input-field col s6">
											<input id="email_login" name="email" type="text" class="validate">
											<label for="email">Email</label>
										</div>
										<div class="input-field col s6">
											<input id="pwd_login" name="pwd" type="password" class="validate">
											<label for="pwd">Password</label>
										</div>
										{%- if error -%}
										<div class="col s12">
											<label class="error red-text">Email o password errate!</label>
										</div>
										{%- endif -%}
									</div>

									<div>
										<button class="waves-effect waves-light btn deep-orange darken-3 right"
											type="submit" name="login">Login</button>
									</div>
								</form>
							</div>
						</div>


					</div>

					<div id="registrati" class="col s12">

						<div>
							<div class="row">
								<form class="col s12">
									<div class="row">
										<div class="input-field col s6">
											<input placeholder="Placeholder" id="first_name" type="text"
												class="validate">
											<label for="first_name">First Name</label>
										</div>
										<div class="input-field col s6">
											<input id="last_name" type="text" class="validate">
											<label for="last_name">Last Name</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<input disabled value="I am not editable" id="disabled" type="text"
												class="validate">
											<label for="disabled">Disabled</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<input id="password" type="password" class="validate">
											<label for="password">Password</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<input id="email" type="email" class="validate">
											<label for="email">Email</label>
										</div>
									</div>
									<div class="row">
										<div class="col s12">
											This is an inline input field:
											<div class="input-field inline">
												<input id="email_inline" type="email" class="validate">
												<label for="email_inline">Email</label>
												<span class="helper-text" data-error="wrong" data-success="right">Helper
													text</span>
											</div>
										</div>
									</div>
								</form>
							</div>

						</div>
						<div>

							<a class="waves-effect waves-light btn deep-orange darken-3 right">Registrati</a>

						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{%- endblock -%}




{%- block base_javascript -%}
<script src="{{ url_for('static',filename='javascript/login.js') }}"></script>
{%- endblock -%}