{% set active_page = 'login.index' %}
{%- extends 'base.html' -%}

{%- block head_base -%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
{%- endblock -%}


{%- block body_base -%}

<div class="row">
	<div class="col s8 offset-s2">
		<div class="card white">
			<div class=" card-content black-text">

				<div class="row">
					<div class="col s12">
						<ul class="tabs tabs-fixed-width deep-orange darken-3">
							<li class="tab col s3"><a class="active white-text" href="#login">Login</a></li>
							<li class="tab col s3"><a class="white-text" href="#registrati">Registrati</a></li>
						</ul>
					</div>

					<div id="login" class="col s12">

						<div>
							<div class="row" style="padding-top: 20px; padding-left: 15px; padding-right: 15px;">
								
								<form id="form_login" class="col s12" action='/login' method='POST'>
									<div class="row">
										<div class="input-field col s6">
											<i class="small material-icons prefix">email</i>

											<input id="email_login" name="email" type="text" class="validate">
											<label for="email">Email</label>
										</div>
										<div class="input-field col s6">
											<i class="small material-icons prefix">password</i>
										
											<input id="pwd_login" name="pwd" type="password" class="validate">
											<label for="pwd">Password</label>
										</div>
										{%- if login_error -%}
										<div class="col s12">
											<label class="error red-text">Email o password errate!</label>
										</div>
										{%- endif -%}
									</div>

									<div>
										<button class="waves-effect waves-light btn deep-orange darken-3 right"
											type="submit" name="login">Login</button>
									</div>
								</form>
							</div>
						</div>


					</div>

					<div id="registrati" class="col s12">

						<div>
							<div class="row" style="padding-top: 20px; padding-left: 15px; padding-right: 15px;">
								
								<form id="form_reg" class="col s12" action="/registrazione" method="POST" >
									<div class="row">
										
										<div class="input-field col s6">
											<i class="small material-icons prefix">text_fields</i>
										
											<input id="first_name" name="nome" type="text" class="validate" autocomplete="off">
											<label for="first_name">First Name</label>
										</div>
										<div class="input-field col s6">
											<i class="small material-icons prefix">text_fields</i>
									
											<input id="last_name" name="cognome" type="text" class="validate" autocomplete="off">
											<label for="last_name">Last Name</label>
										</div>
									</div>
									
									<div class="row">
										<div class="input-field col s12">
											<i class="small material-icons prefix">password</i>
										
											<input id="password" name="pwd" type="password" class="validate" autocomplete="off">
											<label for="password">Password</label>
										</div>
									</div>
									<div class="row">
										

										<div class="input-field col s12">
											<i class="small material-icons prefix">email</i>
											<input id="email" name="email" type="email" class={%- if registration_error
												-%}"invalid"{%- else -%}"validate"{%- endif -%} autocomplete="off">
											<label for="email">Email</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<i class="small material-icons prefix">calendar_month</i>
										
											<input id="data_nascita" name="dataN" type="text" class="datepicker validate" autocomplete="off">
											<label for="data_nascita">Data nascita</label>
										</div>
									</div>

									{%- if registration_error -%}
									<div class="col s12">
										<label class="error red-text">Esiste già un utente con questa email</label>
									</div>
									{%- endif -%}
									
									<div class="right">

										<a class="waves-effect waves-light btn deep-orange darken-3" onclick="resetFormReg()">Reset Form</a>
										
										<button class="waves-effect waves-light btn deep-orange darken-3 "
											type="submit" name="registrati">Registrati
											<i class="material-icons right">send</i></button>

					
									</div>
								</form>
							</div>

						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{%- endblock -%}




{%- block base_javascript -%}
<script src="{{ url_for('static',filename='javascript/login.js') }}"></script>

{%- endblock -%}