
{%- extends 'base.html' -%}

{%- block head_base -%}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profilo.css') }}">

{%- endblock -%}


{%- block body_base -%}

<div class="row">
    <div class="col s8 offset-s2">

        {%- if edit -%}
            <h2>Modifica profilo</h2>
            <!--include la pagina dove verrà generato il form -->
            {%- include "modifica_profilo.html" -%}
        {%- else -%}

        {%- if updated -%}

        <!-- Modal Structure -->

        <input type="text" id = "updated" value = "updated" style="display: none;"></a>
        <div id="modal_update_profile" class="modal">
            <div class="modal-content">
            <h4>Profilo aggiornato</h4>
            <p style="font-size: 20px;">Il tuo profilo è stato modificato correttamente, ora sei una nuova persona.</p>
            </div>
            <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-orange btn-flat">OK</a>
            </div>
        </div>

        {%- endif -%}

        <h2>I tuoi dati</h2>
        
        <div class="row">
        <div class="col">
            <ul class="collection" >
                <li class="collection-item">EMAIL</li>
                <li class="collection-item">NOME</li>
                <li class="collection-item">COGNOME</li>
                <li class="collection-item">DATA DI NASCITA</li>
                <li class="collection-item" style="display: none;"></li>

            </ul>
        </div>
      
        <div class="col s8">
            <ul class="collection">
                <li class="collection-item">{{ current_user.email }}</li>
                <li class="collection-item">{{ current_user.nome }}</li>
                <li class="collection-item">{{ current_user.cognome }}</li>
                <li class="collection-item">{{ current_user.datanascita }}</li>
                <li class="collection-item" style="display: none;"></li>
                
            </ul>

        </div>
        </div>
  
      <div>

        <a class="waves-effect waves-light btn deep-orange darken-3" onclick="location.href='/modifica_profilo'">Modifica profilo</a>

      </div>

      {%- endif -%}

    </div>
</div>



{%- endblock -%}


{%- block base_javascript -%}

<script src="{{ url_for('static',filename='javascript/profilo.js') }}"></script>

{%- endblock -%}
