
{%- extends 'base.html' -%}

{%- block head_base -%}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profilo.css') }}">

{%- endblock -%}


{%- block body_base -%}

<div class="row">
    <div class="col s9 offset-s2">

        {%- if edit -%}
            <h2>Modifica profilo</h2>
            <!--include la pagina dove verrà generato il form -->
            {%- include "modifica_profilo.html" -%}
        {%- else -%}

      
        <div class="row">
        <h2>Il tuo profilo</h2>
        {%- if current_user.isdocente -%}
        <h5>Sei un docente</h5>
        {%- else -%}
        <h5>Sei uno studente</h5>
        {%- endif -%}
        </div>

        <div class="row">
            <a class="waves-effect waves-light btn deep-orange darken-3" onclick="location.href='/modifica_profilo'">Modifica profilo</a>
        </div>
        {%- if updated -%}

        <!-- avviso di corretto aggiornamento del profilo  -->
        <div class="row">
        <div class="col s10">

            
            <div id="close_div_msg" class="bar success">
                <div class="close" id="close_div_msg">X</div>
                <i class="ico">&#10004;</i> SUCCESSO: Il tuo profilo è stato modificato correttamente, ora sei una nuova persona.
            </div>
        </div>

        
        </div>
        {%- endif -%}

        
        <div class="row">
        <div class="col s10">
            <table class="highlight" >
            <thead>
            </thead>
            <tbody style="cursor: default">
            
            <tr><td style="font-weight: bold;">EMAIL:</td><td>{{ current_user.email }}</td></tr>
            <tr><td style="font-weight: bold;">NOME:</td><td>{{ current_user.nome }}</td><tr>
            <tr><td style="font-weight: bold;">COGNOME:</td><td>{{ current_user.cognome }}</td></tr>
            <tr><td style="font-weight: bold;">DATA NASCITA:</td><td>{{ current_user.datanascita }}</td></tr>
            
            </tbody>
            </table>

        </div>
        </div>
     
    

      {%- endif -%}

    </div>
</div>



{%- endblock -%}


{%- block base_javascript -%}

<script src="{{ url_for('static',filename='javascript/profilo.js') }}"></script>

{%- endblock -%}
