{% set active_page = 'corsi.index' %}
{%- extends 'base.html' -%}

{%- block head_base -%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/statistiche.css') }}">
{%- endblock -%}

{%- block body_base -%}

<div class="row">
    <div class="col s8 offset-s2">

        <h2>Statistiche</h2>
        <h4>Iscritti corso di {{ corso.titolo }}</h4>

        {%- if iscritti -%}
        <a href="/corsi" class="waves-effect waves-light btn deep-orange darken-3">
            Torna ai corsi<i class="material-icons left">arrow_back_ios_new</i></a>                       
        <table class="highlight">
            <thead>
              <tr>
                  <th>EMAIL</th>
                  <th>NOME</th>
                  <th>COGNOME</th>
                  <th>DATA NASCITA</th>
                  <th>DATA ISCRIZIONE</th>
              </tr>
            </thead>
            <tbody>
        
            <!--tabella con i dati di ogni iscritto-->
            {%- for s in iscritti -%}
            <tr>
                <td>{{ s[3].email }}</td>
                <td>{{ s[3].nome }}</td>
                <td>{{ s[3].cognome }}</td>
                <td>{{ s[3].datanascita }}</td>
                <td>{{ s[2]|datetime_format }}</td>

            </tr>
            {%- endfor -%}
        </tbody>
        </table>

    {%- else -%}
    <!--non ci sono iscritti-->
        <div  class="bar warn">
            <div  class="close" id="close_div_msg">
            <a class="link_indietro" href="/corsi">TORNA AI CORSI</a>
            </div>
            <i class="ico">&#9888;</i> 
            Nessuno studente si è ancora iscritto al corso
        </div>
    {%- endif -%}

    </div>
</div>


{%- endblock -%}
{%- block base_javascript -%}
{%- endblock -%}
